<header>
  <div class="header-container">
    <div class="profile-img-container">
      <a routerLink=""
        ><img
          class="profile-img"
          src="assets/images/profile.png"
          alt="Phil
        Giammattei"
      /></a>
    </div>
    <a routerLink=""> <h1 class="profile-header">Phil Giammattei</h1></a>
    <img
      src="assets/images/hamburger-cream.svg"
      class="hamburger"
      alt="hamburger menu icon"
      (click)="toggle()"
    />
  </div>

  <div class="socialbuttons">
    <a href="https://www.linkedin.com/in/philgiammattei/">
      <img
        src="assets/images/linkedin-logo.png"
        alt="linkedin: Phil Giammattei"
      />
    </a>
    <a href="https://github.com/philgiammattei">
      <img src="assets/images/github-logo.png" alt="Github: philgiammattei" />
    </a>
    <a href="https://twitter.com/philgiammattei">
      <img src="assets/images/twitter-logo.png" alt="twitter @philgiammattei" />
    </a>
  </div>
</header>
<div class="mobile-only">
  <nav *ngIf="hamburgerShow">
    <ul class="main-nav">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="about">ABOUT</a></li>
      <li><a routerLink="projects">PROJECTS</a></li>
      <li><a routerLink="blog">BLOG</a></li>
      <li><a routerLInk="contact">CONTACT</a></li>
    </ul>
  </nav>
</div>
<div class="suppress-mobile">
  <nav>
    <ul class="main-nav">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="about">ABOUT</a></li>
      <li><a routerLink="projects">PROJECTS</a></li>
      <li><a routerLink="blog">BLOG</a></li>
      <li><a routerLink="contact">CONTACT</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<footer>
  <a href="https://www.linkedin.com/in/philgiammattei/">
    <img
      src="assets/images/linkedin-logo.png"
      alt="linkedin: Phil Giammattei"
    />
  </a>
  <a href="https://github.com/philgiammattei">
    <img src="assets/images/github-logo.png" alt="Github: philgiammattei" />
  </a>
  <a href="https://twitter.com/philgiammattei">
    <img src="assets/images/twitter-logo.png" alt="twitter @philgiammattei" />
  </a>
</footer>
